<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="utf-8" />
    <title>MyIdea-IO</title>
    <link rel="apple-touch-icon" sizes="180x180" href="https://github.com/nekotarolu/my-idea-io/blob/master/favicon/apple-touch-icon.png?raw=true" />
    <link rel="icon" type="image/png" sizes="32x32" href="https://github.com/nekotarolu/my-idea-io/blob/master/favicon/favicon-32x32.png?raw=true" />
    <link rel="icon" type="image/png" sizes="16x16" href="https://github.com/nekotarolu/my-idea-io/blob/master/favicon/favicon-16x16.png?raw=true" />
    <link rel="manifest" href="https://raw.githubusercontent.com/nekotarolu/my-idea-io/master/favicon/site.webmanifest" />
    <link rel="mask-icon" href="https://raw.githubusercontent.com/nekotarolu/my-idea-io/master/favicon/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#2b5797" />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    <h1>hello!</h1>
    <div>{{ test }}</div>
  </body>
</html>
