<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="utf-8" />
    <title>MyIdea-IO</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/files/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/files/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/files/favicon/favicon-16x16.png" />
    <link rel="manifest" href="/files/favicon/site.webmanifest" />
    <link rel="mask-icon" href="/files/favicon/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#2b5797" />
    <meta name="theme-color" content="#ffffff" />
</head>

<body>
    <h1>Welcome to the MyIdea-IO!!</h1>
    <h2>ここは {{userId}} さんのページです</h2>
    <hr />

    <h3>インプットリスト</h3>
    <table border="1">
        %for input in inputList:
        <tr>
            <td>{{input["id"]}}</td>
            <td>{{input["inText"]}}</td>
            <td>{{input["createDate"]}}</td>
            <td><a href="/input_delete/{{userId}}?id={{input["id"]}}">削除</a></td>
        </tr>
        %end
    </table>
    <h3>インプットを入力してください</h3>
    <form method="post" action="/input_regist/{{userId}}">
        <p>インプット：<input type="text" name="inputText"></p>
        <p><input type="submit" value="登録する"></p>
    </form>

    <hr />

    <h3>アウトプットリスト</h3>
    <table border="1">
        %for output in outputList:
        <tr>
            <td>{{output["id"]}}</td>
            <td>{{output["outText"]}}</td>
            <td>{{output["createDate"]}}</td>
            <td><a href="/output_delete/{{userId}}?id={{output["id"]}}">削除</a></td>
        </tr>
        %end
    </table>
    <form method="post" action="/output_regist/{{userId}}">
        <p>アウトプット：<input type="text" name="outputText"></p>
        <p><input type="submit" value="登録する"></p>
    </form>

</body>

</html>